<div class="book-card-wrapper">
    <div class="book-card-thumbnail">
        <img src="<%= book.thumbnailLink %>" alt="<%= book.title %>">
    </div>
    <div class="book-card-details">
        <p class="book-card-title">
            <%= book.title %>
        </p>
            <p class="book-card-authors">
        <% for(let authorIndex in book.authors) {%>
                <%= book.authors[authorIndex] %>
                <br>
            <% } %>
            </p>
                <p class="book-card-publisher">
                    <%= book.publisher %>
                </p>
                <p class="book-card-published-date">
                    <%= book.publishedDate %>
                </p>
                <form class="book-card-button" method="POST" action="/books/add" onsubmit="return confirmBookAddition('<%= book.title %>')">
                    <input type="hidden" name="bookID" value="<%= book.identifier %>"/>
                    <input type="submit" class="primary-grey-button" value="Select" />
                </form>
    </div>
</div>